body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

fieldset.segmented-control {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  border: none;
}
.segmented-control label {
  flex-grow: 1;
  cursor: pointer;
  text-align: center;
  border: 1px solid grey;
}
.segmented-control label:hover {
  font-weight: bold;
}
.segmented-control input[type=radio] {
  display: none;
}
.segmented-control input[type=radio]:first-child {

}
.segmented-control input[type=radio]:last-child {

}

.segmented-control input[type=radio]:checked+label {
  font-weight: bold;
}
